---
layout: default
---

{% include header.html %}

<img class="img-fluid" src="{{site.baseurl}}/assets/images/foto_home.png" style="width: 100%">

<div class="card-group">
	
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=1" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">THE LOCATION</h5>
				  <p class="cardos-text">Excavated from the rocks, close to Doria’s castle, it’s an elegant, open, exciting and unique location. In the heart of Vernazza: in front of you only the sea.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=2" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">WHAT WILL YOU TASTE AND LEARN</h5>
				  <p class="cardos-text">Wines and liqueurs that we select with love and passion from Cinque Terre and Italian areas. A selection of appetizers that perfectly matches with the wines served ...</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=3" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">PRIVATE EVENTS</h5>
				  <p class="cardos-text">We organize private wine tastings for groups of at least 10 people from 12.00 a.m.. to 15.00 p.m. We offer an exclusive open space over the sea; a great selection of local and Italian wines accompanied with the traditional local food that perfectly matches with the wines served.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=4" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">NEWS</h5>
				  <p class="cardos-text">We open in April 2020</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>		
</div>

<div class="card-group">
	
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=5" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">THE LOCATION</h5>
				  <p class="cardos-text">Excavated from the rocks, close to Doria’s castle, it’s an elegant, open, exciting and unique location. In the heart of Vernazza: in front of you only the sea.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=6" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">WHAT WILL YOU TASTE AND LEARN</h5>
				  <p class="cardos-text">Wines and liqueurs that we select with love and passion from Cinque Terre and Italian areas. A selection of appetizers that perfectly matches with the wines served ...</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=7" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">PRIVATE EVENTS</h5>
				  <p class="cardos-text">We organize private wine tastings for groups of at least 10 people from 12.00 a.m.. to 15.00 p.m. We offer an exclusive open space over the sea; a great selection of local and Italian wines accompanied with the traditional local food that perfectly matches with the wines served.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="https://picsum.photos/300/200?random=8" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">NEWS</h5>
				  <p class="cardos-text">We open in April 2020</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>		
</div>
{% include footer.html %}



