---
layout: default
---

{% include header.html %}

<!--img class="img-fluid" src="{{site.baseurl}}/assets/images/foto_home.png" style="width: 100%"-->

{% include slide.html %}

<div class="card-group">
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/location.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">THE LOCATION</h5>
				  <p class="cardos-text">Excavated from the rocks, close to Doria’s castle, it’s an elegant, open, exciting and unique location. In the heart of Vernazza: in front of you only the sea.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/taste.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">WHAT WILL YOU TASTE AND LEARN</h5>
				  <p class="cardos-text">Wines and liqueurs that we select with love and passion from Cinque Terre and Italian areas. A selection of appetizers that perfectly matches with the wines served. And most likely, you’ll leave with a big smile on your face! We are not a restaurant or bar and we do not serve alcohol-free drinks, fruit juices or coffees.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/private-event.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">PRIVATE EVENTS</h5>
				  <p class="cardos-text">We organize private wine tastings for groups of at least 10 people from 12.00 a.m.. to 15.00 p.m. We offer an exclusive open space over the sea; a great selection of local and Italian wines accompanied with the traditional local food that perfectly matches with the wines served.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/news.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">NEWS</h5>
				  <p class="cardos-text">We open in April 2020</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>		
</div>

<div class="card-group">
	
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/clock.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">TIME, BOOKING AND PRICES</h5>
				  <p class="cardos-text">You can come when you like from 5 to 9 p.m. We don’t make reservations. A tasting of 3 different wines, smaller then a full glass, is starting from 15 euro per person.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<a href="https://www.google.com/maps/place/Vernazza+Winexperience/@44.134364,9.6819058,19z/data=!3m1!4b1!4m5!3m4!1s0x12d4f02c748a438d:0x27e8e9f8d62dee37!8m2!3d44.134364!4d9.68246" target="_blank">
					<img src="{{site.baseurl}}/assets/images/mappa.png" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
				  <h5 class="card-title">HOW TO REACH US</h5>
				  <p class="cardos-text">It can be reached from the square of Vernazza in just five minutes by going up through the characteristic alleys: there are about 90 steps.! From the main square follow the signs for the Doria castle, after the first two stairways turn left, you will find a long red brick staircase. Then follow the signs for Gianni Franzi deck, you will find a small square, we are at the bottom on the left</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/cinquesensi.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">VISIT OUR NEW WINESHOP</h5>
				  <p class="cardos-text">Visit our new Cinque Sensi wineshop, located along the main road of the town, <a href="https://www.instagram.com/vernazzacinquesensi/" target="_blank">Via Roma 71 in Vernazza</a>. You find our complete selection of wines, extra vergin olive oil, beer, cocktails and spirits. Come in, sit down and taste. Open from 12.00 to 24.00. You can taste and order your wine, we can ship it at home in 15 days.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>
			<div class="card cardos">
				<img src="{{site.baseurl}}/assets/images/customers.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">HAVE YOU ALREADY BEEN OUR CUSTOMER?</h5>
				  <p class="cardos-text">If you have already been our customer and would like to receive at home the wines you drank from us, write to us at <a href="mailto:vernazzacinquesensi@gmail.com">vernazzacinquesensi@gmail.com</a> We can ship your bottles at home in 15 days.</p>
				  <p class="cardos-text"><small class="text-muted"> </small></p>
				</div>
			</div>		
</div>
{% include social.html %}

{% include footer.html %}


