<div class="container margine-centrato">
	<div class="row row-cols-2">
		<div class="col-5"></div>
		<div id="TA_socialButtonBubbles526" class="TA_socialButtonBubbles col-7">
			<ul id="OlluFA6DzWH" class="TA_links oj44pR9k">
				<li id="SKR9ppCNM" class="Bxv8WOI2">
					<a target="_blank" href="https://www.tripadvisor.com/Restaurant_Review-g187822-d6673073-Reviews-Vernazza_Winexperience-Vernazza_Cinque_Terre_Italian_Riviera_Liguria.html">
						<img src="https://www.tripadvisor.com/img/cdsi/img2/branding/socialWidget/20x28_white-21693-2.png"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

		<script async src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=526&amp;locationId=6673073&amp;color=white&amp;size=rect&amp;lang=en_US&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>